body{
    background-color:black;
}
h1{
    color: white;
    text-align: center;
}
h2{
    text-align: center;
    padding: 1%;
}
h3{
    padding-left: 5%;
}
header{
    width: 100%;
    padding: 2%;
}
section{
    padding: 1%;
}
p{
    padding: 0.5%;
}
.logo{
    text-align: center;
    color: aliceblue;
    font-size: 1.5em;
}
nav{
    text-align: center;
    color: aliceblue;
    font-size: 1.5em;
}
.banner{
    width: 100%;
}
.container{
    background-color: rgb(192, 238, 250);
    width: 80%;
    margin: auto;
}
footer{
    background-color: darkslateblue;
    width: 100%;
}
